python-dotenv==1.0.0
schedule==1.2.1
pandas==2.1.1
pyTelegramBotAPI==4.14.0
requests==2.31.0

# TODO
# A watchdog when a file changes. Similar nodemon
# We need something to force the container rebuilding
#py-mon==1.1.1